/* #region: general media queries */

@media (max-width: 750px) {
    .dialog-close-button > img {
        width: 20px;
        height: 20px;
    }

    .torrent-card {
        flex-wrap: wrap;
    }

    .torrent-title {
        text-overflow: ellipsis;
    }

    html {
        font-size: 13px;
    }

    .hideable {
        display: none;
    }

    .header {
        height: fit-content;
    }

    .header-section {
        display: flex;
        flex-shrink: 1;
        gap: 1px;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h4[class~="title"] {
        font-size: 0.9rem;
        margin-top: 2px;
    }

    #theme-toggle-icon {
        width: 28px;
        height: 28px;
    }

    #search-icon {
        width: 26px;
        height: 26px;
        position: relative;
        top: 2px;
    }

    .card {
        min-width: 165px;
        max-width: 185px;
        min-height: 300px;
        max-height: 350px;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 2px;
    }

    .anime-cover {
        min-width: 100% !important;
        min-height: 200px;
        align-self: center;
        justify-self: center;
        max-height: 225px;
        object-fit: cover;
    }

    .title {
        font-size: 1.25rem;
    }

    .anime-info .airing-status, .anime-info .genre, .anime-info .studio, .anime-info.year {
        display: none;
    }

    #anime-details-header-cover {
        width: 50%;
        min-width: 120px;
        max-width: 250px;
        object-fit: cover;
        border-radius: 20px;
        flex-shrink: 1;
        flex-grow: 0;
    }

    #ad-section-header {
        font-size: 1.75rem;
    }

    /* .home-wrapper {
        margin-top: 5rem;
    } */

    .anime-details-title:not([class~="only-small-screen"]) {
        display: none;
        positon: absolute;
        top: -1;
        left: -1;
        z-index: -1;
    }

    .anime-details-header {
        flex-direction: column;
    }

    .only-small-screen {
        position: unset;
        display: inherit !important;
        z-index: unset;
    }

    .only-large-screen {
        display: none;
        position: absolute;
        z-index: -1;
        top: -1;
        left: -1;
    }

    .page-btn-wrapper {
        max-width: 90vw;
    }

    .client-query > span {
        min-width: unset;
    }
    
}

@media (max-height: 1100px) {
    .home-wrapper {
        margin-top: 4rem;
    }
}

/* #endregion */

/* #region: global-styles */
@media (max-width: 750px) {
    h4:has(span[class~="condensed"]) {
        text-align: justify;
        font-size: 0.8rem;
        font-weight: 475;
        line-height: 120%;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    h4:has(span[class~="condensed-more"]) {
        text-align: justify;
        font-size: 0.7rem;
        font-weight: 475;
        line-height: 120%;
        margin-bottom: 2px;
        margin-top: 2px;
    }
}
/* #endregion */

