/* #region: Global Variables */

:root {
    --base-bg-dark: hsl(212, 100%, 3%);
    --base-obj-dark: hsl(212, 65%, 6%);
    --base-obj-dark-lighter: hsl(212, 55%, 10%);
    --base-obj-dark-ll: hsl(212, 50%, 14%);
    --base-obj-dark-lll: hsl(212, 45%, 18%);
    --base-obj-dark-llll: hsl(212, 43%, 22%);
    --base-obj-light-darker: #ebebeb;
    --base-obj-light-dd: #cfcfcf;
    --base-obj-light-ddd: #bfbfbf;
    color-scheme: dark light;
    font-family: 'Noto Sans JP';
}

/* #endregion */

/* #region: Global styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 
        background-color 0.2s ease-in-out,
        color 0.2s ease-out,
        filter 0.2s ease-in-out,
        outline 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        font-weight 0.2s ease-in-out,
        width 0.2s ease-in-out,
        height 0.2s ease-in-out,
        max-width 0.2s ease-in-out,
        max-height 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.cursor-disabled {
    cursor: not-allowed;
}

.normally-blurred {
    filter: blur(0.25rem);
    transition: filter 0.3s ease-in-out;
}

.normally-blurred:hover {
    filter: unset;
    transition: filter 0.2s ease-in-out;
}

html {
    font-size: 16px;
    /* transition: 
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        filter 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        max-width 0.2s ease-in-out,
        max-height 0.3 ease-in-out,
        font-weight 0.2s ease !important;
    -webkit-tap-highlight-color: transparent; */
    /* min-height: calc(100vh - 106px); */
}


.flex-row {
    display: flex;
    flex-direction: row;
}

label {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

input:focus[class~="dark"] {
    outline: 2px solid white;
}

input:focus[class~="light"] {
    outline: 3px solid slateblue;
}

option  {
    font-family: 'Noto Sans JP', serif;
    font-size: 1rem;
}

rt {
    font-size: 0.75rem;
    margin-bottom: -5px;
}

.cursor-pointer {
    cursor: pointer;
}

.hover-bold:hover {
    font-weight: 600;
}

.u_onhover:hover {
    text-decoration: underline;
}

.warning-plaintext {
    color: hsl(2, 100%, 67%)
}

h4:has(span[class~="condensed"]) {
    text-align: justify;
    font-size: 0.875rem;
    font-weight: 475;
    line-height: 120%;
    margin-bottom: 4px;
}

h4:has(span[class~="condensed-more"]) {
    text-align: justify;
    font-size: 0.85rem;
    font-weight: 475;
    line-height: 120%;
    margin-bottom: 4px;
}

/* h4[class~="title"] {
    text-wrap: stable;
} */

.char-title:has(span[class~="condensed"]) {
    font-size: 0.8rem;
    line-height: 125%;
    font-weight: 400;
    margin-bottom: 1px;
}

.char-title:has(span[class~="condensed-more"]) {
    font-size: 0.7rem;
    line-height: 110%;
    font-weight: 425;
    margin-bottom: 1px;
}

.cursor-arrow { 
    cursor: default;
}

.max-1600px-resp {
    width: 90vw;
    max-width: 1600px;
    margin: 0 auto;
}

.fill-screen {
    min-height: calc(100svh - 106px);
}

.hidden {
    display: none;
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
}
.fw-150 {
    font-weight: 150;
}

.fw-300 {
    font-weight: 300;
}

.full-width-btn {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    border-radius: 20px;
}

p, h1, h2, h3, h4, h5 {
    cursor: default;
}

body {
    background-color: #222;
    color: white;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img[class~="anime-cover"] {
    border-radius: 10px;
}

img[class~="icon-dark"] {
    background: none;
    filter: invert(1);
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.05rem;
}

input[type="text"], input[type="password"] {
    border-radius: 20px;
    padding-left: 12px;
    height: 30px;
}

input[type="checkbox"] {
    border-radius: 20px;
}

button {
    display: block;
    padding: 8px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    white-space: nowrap;
    cursor: pointer;
}

.home-wrapper {
    min-height: calc(100svh - 3.75rem);
}

.only-small-screen {
    display: none !important;
    position: absolute;
    z-index: -1;
    top: -1;
    left: -1;
    overflow: hidden;
}

.only-large-screen {
    position: unset;
    display: inherit;
    z-index: unset;
}

.page-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    border-radius: 10px;
    min-height: 40px;
    min-width: 40px;
    border: 1px solid #666666;
    margin: 0 1.5px;
}

.page-btn[class~="selected"][class~="dark"] {
    border: 2px solid #ffffff;
    font-weight: 1000;
    background-color: var(--base-obj-dark-lighter);
}

.page-btn[class~="selected"][class~="light"] {
    border: 2px solid #000000;
    font-weight: 1000;
    background-color: smokewhite;
}

.page-btn-wrapper {
    display: flex;
    white-space: nowrap;
    flex-grow: 0;
    justify-content: flex-start;
    margin: 10px auto;
    margin-bottom: 20px;
    width: fit-content;
    max-width: 1000px;
    padding: 0 20px;
    padding-bottom: 1em;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-mask-image: linear-gradient( to right,transparent, black 4%, black 96%, transparent 100%);
}

.a-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.card-btn {
    background-color: var(--base-obj-dark-ll);
    border-radius: 20px;
    padding: 6px 12px;
    margin: 10px 0;
    width: 100%;
    display: block;
    text-align: center;
}

.nb-max-width {
    width: 100%;
}

.btn {
    cursor: pointer;
}

.dark {
    background-color: var(--base-bg-dark);
    color: white;
    color-scheme: dark;
}

.light {
    background-color: white;
    color: black;
    color-scheme: light;
}

.vc-text {
    position: relative;
    top: 50%;
    transform: translateY(-53%);
    line-height: 2rem;
}

.wrapper {
    /* transition: 
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    filter 0.2s ease-in-out; */
}

#nsfw-tog-label {
    font-size: 0.5rem;
}

/* #endregion */

/* #region: Header styles */
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol > li {
    list-style: decimal;
    list-style-position: inside;
}

text {
    cursor: default;
}

ul {
    /* border: 3px solid lightblue; */
    padding: 0;
    margin: 0;
}

@media (max-width: 750px) {
    #nb-search:focus {
        width: calc(100vw - 5rem);
        max-width: calc(100vw - 5rem);
        position: absolute;
        top: 0.275rem;
        right: 4.25rem;
        transition: max-width 0.2s ease-out, width 0.2s ease-out, position 0.2s ease-out;
    }

    #nb-search {
        width: 40vw;
        max-width: 200px;
        position: absolute;
        top: 0.275rem;
        right: 4rem;
        transition:  max-width 0.2s ease-out, width 0.2s ease-out, position 0.2s ease-out;
    }
}


#query {
    display: flex;
    margin-right: 0.5rem;
}

#search {
    background: none;
    border: none;
    margin: 0;
    padding: 0; 
}

#menu-icon {
    /* -moz-transition: transform .125s ease-out;
    -webkit-transition: transform .125s ease-out; */
    transition: 
        transform .125s ease-out,
        filter 0.2s ease-out,
        color 0.2s ease-out,
        background-color 0.2s ease-out;
}

.rotate-half {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.rotate-ref {
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}

.rotate-full {
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}

#search-icon {
    position: relative;
    top: 1px;
    
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    /* border: 3px solid greenyellow; */
    height: 2.75rem;
    /* background-color: #333; */
    z-index: 9999;
    padding: 0 5px;
    padding-right: 10px;
    gap: 10px;
    flex-shrink: 0;
    flex-basis: 0;
    flex-grow: 1;
    width: 100vw;
    transition: 
        background-color 0.2s ease-in-out,
        color 0.2s ease-out,
        filter 0.2s ease-in-out,
        outline 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        font-weight 0.2s ease-in-out,
        width 0.2s ease-in-out,
        height 0.2s ease-in-out,
        max-width 0.2s ease-in-out,
        max-height 0.2s ease-in-out,
        top 0.2s ease-out;
}

#main-header-hidden {
    position: fixed;
    top: -2.75rem;
    transition: 
        background-color 0.2s ease-in-out,
        color 0.2s ease-out,
        filter 0.2s ease-in-out,
        outline 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        font-weight 0.2s ease-in-out,
        width 0.2s ease-in-out,
        height 0.2s ease-in-out,
        max-width 0.2s ease-in-out,
        max-height 0.2s ease-in-out,
        top 0.2s ease-out;
}

.nb-left {
    display: unset;
    height: 100svh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0;
    transition: 0.2s;
    flex-shrink: 0;
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
    padding-top: 60px;   
    font-size: 0.85rem;
}


.nb-left-active {
    width: 300px !important;
    transition: 0.2s;
    overflow: hidden;
}

.nb-left-active[class~="dark"] {
    background-color: var(--base-obj-dark);
    width: 300px !important;
    transition: 0.2s;
    box-shadow: 2px 2px 25px 3px var(--base-obj-dark);
}

.nb-left-active[class~="light"] {
    background-color: whitesmoke;
    width: 300px !important;
    transition: 0.2s;
    box-shadow: 1px 1px 5px 1px #a8a8a8;
}


.nb-items {
    overflow: hidden;
    min-width: 300px;
    padding: 20px 20px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-weight: 300;
}

#login-form, #registration-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start ;
    gap: 5px;  
}

.basic-checkbox {
    height: 1rem;
}

.basic-checkbox-label {
    display: inline-block;
    /* vertical-align: baseline; */
}

.basic-checkbox-label > * {
    vertical-align: baseline;
    margin-left: 5px;
}

.basic-checkbox-text {
    position: relative;
    top: -1.5px;
}


.display-flex {
    position: sticky;
    top: 0;
    z-index: 99999;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-shrink: 0;
    flex-basis: 0;
    flex-grow: 1;
    background: none !important;
}

.header[class~="dark"] {
    background-color: var(--base-obj-dark);
}

.header[class~="light"] {
    background-color: whitesmoke;
}

.header-section {
    display: flex;
    gap: 0.5rem;
    flex-shrink: 1;
}

.hs-right {
    gap: 1px;
}

.header-section > * {
    display: flex;
    align-items: center;
    flex-shrink: 1;
}

.header-section > * > * {
    flex-shrink: 1;
}

.nsfw-tog-wrapper {
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
}
.nb-query {
    width: 100%;

}

/* Content */

.content-header {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}

.content-wrapper {
    width: 100%;
    height: 90vh;
    margin-top: 2.75rem;
}

.main-logo {
    margin: 0;
    position: relative;
    bottom: 2px;
    -moz-transition: text-shadow 0.4s ease-out;
    -o-transition: text-shadow 0.4s ease-out;
    -webkit-transition: text-shadow 0.4s ease-out;
    transition: text-shadow 0.4s ease-out;
}

.main-logo:hover {
    text-shadow: 0px 0px 10px white;
    -moz-transition: text-shadow 0.4s ease-out;
    -o-transition: text-shadow 0.4s ease-out;
    -webkit-transition: text-shadow 0.4s ease-out;
    transition: text-shadow 0.4s ease-out;
  }


  *[class~="glow-onhover"]:hover {
    text-shadow: 0px 0px 10px white;
    -moz-transition: text-shadow 0.4s ease-out;
    -o-transition: text-shadow 0.4s ease-out;
    -webkit-transition: text-shadow 0.4s ease-out;
    transition: text-shadow 0.4s ease-out;
  }
/* #endregion */

/* #region: Footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 3.75rem;
}

.footer[class~="dark"] {
    background-color: var(--base-obj-dark);
}

.footer[class~="light"] {
    background-color: whitesmoke;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pp-link {
    font-size: 0.7rem;
    cursor: pointer;
}

.love-footer {
    color: red;
    -moz-transition: text-shadow 0.45s ease-in;
    -o-transition: text-shadow 0.45s ease-in;
    -webkit-transition: text-shadow 0.45s ease-in;
    transition: text-shadow 0.45s ease-in;
}

.love-footer:hover {
    text-shadow: 0 0 10px #ff8f8f;
    -moz-transition: text-shadow 0.4s ease-in;
    -o-transition: text-shadow 0.4s ease-in;
    -webkit-transition: text-shadow 0.4s ease-in;
    transition: text-shadow 0.4s ease-in;
}

/* #endregion */

/* #region: Search Result */
    .search-result-wrapper {
        /* text-align: center; */
        min-height: calc(100svh - 3.75rem);
        margin-top: 2.75rem;
    }
/* #endregion */

/* #region: Homepage */

.dark[class~="obj-level-2"] {
    background-color: var(--base-obj-dark-lighter);
  }
  
.light[class~="obj-level-2"] {
background-color: #cfcfcf;
}

.dark[class~="obj-level-1"], .icon-dark[class~="obj-level-1"] {
background-color: var(--base-obj-dark);
}

.light[class~="obj-level-1"] {
background-color: #ebebeb;
}
  
  
.home-wrapper {
    min-height: calc(100svh - 3.75rem);
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    padding:  0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    @media (max-height: 800px) {
        margin-top: 5rem;
    }
}


.header-home {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
}

.nostretch {
    align-self: center;
}

.header-arrow {
    position: relative;
    align-self: center;
    display: block;
    margin: 0.4rem;
}

.a-btn-bg {
    opacity: 0;
    transition: opacity 0.2s ease;
}
  
.seasonal-wrapper, .top-wrapper {

    width: 100%;

    h2 {
      text-align: center;
    }

    .dark[class~="hover-highlight"]:hover {
        background-color: var(--base-obj-dark-lll);
        transition: background-color 0.2s ease, font-weight 0.2s ease;
        .anime-card-genre-tag {
            background-color: var(--base-obj-dark-llll);
        }
    }
    
    .light[class~="hover-highlight"]:hover {
        background-color: var(--base-obj-light-ddd);
        transition: background-color 0.2s ease, font-weight 0.2s ease;
    }
    
    .card {

        height: 220px;

        @media (min-width: 775px) {
            .anime-cover {
                min-height: 100%;
                object-fit: cover;
            }
        }


        .genre > *[class~="dark"] {
            background-color: var(--base-obj-dark-ll);
        }
    
        .genre > *[class~="light"] {
            background-color: Var(--base-obj-light-dd);
        }
    }

    
    .card[class~="dark"] {
      background-color: var(--base-obj-dark-lighter);
    }
    
    .card[class~="light"] {
    background-color: #ebebeb;
    }

    .cards-wrapper {
      height: fit-content;
      text-align: left;
      width: 100%;
      padding: 20px 20px;
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-y: hidden;
      overflow-x: auto;
      -webkit-mask-image: linear-gradient(to right, transparent 0%, black 1.5%, black 98.5%, transparent 100%);
      mask-image: linear-gradient(to right, transparent 0%, black 1.5%, black 98.5%, transparent 100%);
    }
  }

  .seasonal-wrapper:hover {
    #l-arrow-s, #r-arrow-s {
        opacity: 100;
        transition: opacity 0.2s ease;
    }
  }

  .seasonal-wrapper {
    #l-arrow-s, #r-arrow-s {
        opacity: 0;
        transition: opacity 0.2s ease;
    }
  }

  .top-wrapper:hover {
    #l-arrow-t, #r-arrow-t {
        opacity: 100;
        transition: opacity 0.2s ease;
    }
  }

  .top-wrapper {
    #l-arrow-t, #r-arrow-t {
        opacity: 0;
        transition: opacity 0.2s ease;
    }
  }
/* #endregion */

/* #region: Anime Details */

.anime-details-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    min-height: calc(100svh - 3.75rem);
    margin-top: 2.75rem;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* background: none; */
}

.anime-details-wrapper > * {
    padding: 15px 20px;
    border-radius: 20px;
}

.anime-details-wrapper[class~="dark"] > * {
    background-color: var(--base-obj-dark);
}

.anime-details-wrapper[class~="light"] > * {
    background-color: whitesmoke;
}

.anime-details-header {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    max-width: 1000px;
}

.anime-details-header[class~="only-large-screen"] {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.anime-details-header-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.anime-details-header-info[class~="only-large-screen"] {
    display: flex;
    gap: 5px;
}

#fav-icon[class~="cursor-disabled"] {
    opacity: 0.45;
}

.ad-user-options {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.anime-details-title {
    vertical-align: top;
    line-height: 120%;
}

.info-img-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ad-section-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.client-query {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
    padding: 5px 15px 15px 15px;
}

.client-query > span {
    min-width: 15ch;
}

.eps-filter-btn[class~="cursor-disabled"] {
    opacity: 0.4;
}

.ad-section-icon {
    height: 28px;
    position: relative;
    top: 2.5px;
  }
.ad-synopsis {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    background-color: inherit;
}

.ad-synopsis > p {
    font-weight: 375;
}


.font-weight-150 {
    font-weight: 150;     
}

.anime-meta {
    cursor: default;
}

.anime-meta >* {    
    font-size: 1rem;
    font-weight: 400;
    padding: 2px 0;
}

.meta-header {
    font-weight: 75;
    display: flex;
    gap: 5px;
}

.meta-data {
    font-weight: 550;
}

.eps-wrapper {
    -webkit-mask-image: linear-gradient(to bottom,
    transparent 0%, black 5%, black 95%, transparent 100%);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    padding: 15px 10px;
    max-height: 400px;
    overflow: auto;
    gap: 5px;
    margin-bottom: 10px;
}

.eps-filter-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 15px;
    overflow: auto;
    min-height: 3rem;
}

.client-torrent-custom-query {
    width: 100%;
}


.eps-filter-title {
  font-weight: 400;
  margin-right: 10px;
  position: relative;
  top: -2px;
}

.eps-filter-active[class~="dark"] {
    background-color: var(--base-obj-dark-lll);
    border: 2px solid #fff;
    font-weight: 600;
}

.eps-filter-active[class~="light"] {
    background-color: var(--base-obj-light-ddd);
    border: 2px solid #111;
    font-weight: 600;
}

.eps-dwld {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    position: absolute;
    margin: 10vh auto;
    gap: 10px;
}

.eps-dwld-active[open] {
    width: 80vw;
    max-width: 1000px;
    max-height: 90vh;
    position: fixed;
    z-index: 1000;
    top: 50%;
    bottom: 10%;
    left: 50%;
    right: 10%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: max(-40vw, -500px);
    margin-top: -40vh;
    height: 80vh;
    border-radius: 20px;
    border: 2px solid #ddd;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.7);
    transition: 
        box-shadow 0s,
        max-height 0s,
        max-width 0s;

}    

.eps-page-btns-wrapper {
    display: flex;
    gap: 2.5px;
    justify-content: center;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-mask-image: linear-gradient( to right,transparent, 
    black 2%, black 98%, transparent 100%);
}

.eps-page-btns-wrapper > .page-btn {
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
}

.eps-dwld-active[class~="dark"] {
    background-color: var(--base-obj-dark);
    /* border: 5000px solid rgba(0, 0, 0, 0.5) */
}

.eps-dwld-active[class~="light"] {
    background-color: whitesmoke;
}

.dialog-close-button-container {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: inherit;

    h2 {
        position: relative;
        top: -2px;
    }
}

.torrent-card {
    display: flex;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 300    ;
    font-size: 0.925rem;
    justify-content: space-between;
    gap: 20px;
}

.torrent-card[class~="dark"] {
    background-color: var(--base-obj-dark-lighter);
}

.torrent-card[class~="hover-highlight"]:hover {
    .torrent-title {
        font-weight: 500;
    }
}

.torrent-size-mb {
    min-width: 100px;
    text-align: right;
    display: flex;
    gap: 5px;
    align-items: center;

    img {
        position: relative;
        top: 1px;
    };
}

.torrent-cards-wrapper {
    overflow: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 20px;
    padding: 15px 0;
    margin-bottom: 5px;  
    -webkit-mask-image: linear-gradient(to bottom,
    transparent 0%, black 3%, black 97%, transparent 100%);
    mask-image: linear-gradient(to bottom,
    transparent 0%, black 3%, black 97%, transparent 100%);
}


.torrent-download-buttons {
    display: flex;
    align-items: center;
}

.torrent-title {
    display: flex;
    gap: 5px;
    align-items: flex-start;
    font-weight: 375;

    img  {
        position: relative;
        top: 5px;
    }
}

.torrent-download {
    display: flex;
    gap: 5px;
    align-items: center;
    min-width: 60px;

    img {
        position: relative;
        top: 1px;
    }
}

.torrent-identity {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.torrent-links {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.torrent-card-info {
    display: flex;
    flex-direction: column;
}

dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    overscroll-behavior: contain;
}

dialog {
    overflow: auto;
    overscroll-behavior: contain !important;
}

.modal-open {
    overflow: initial;
}

.eps-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 10px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.eps-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.eps-card[class~="dark"] {
    background-color: var(--base-obj-dark-lighter);
}

.eps-card[class~="light"] {
    background-color: var(--base-obj-light-darker);
}

.eps-dropdown {
    position: relative;
    height: 20px;
}

.dark[class~="hover-highlight"]:hover {
    background-color: var(--base-obj-dark-ll);
}

.light[class~="hover-highlight"]:hover {
    background-color: var(--base-obj-light-dd);
}

.characters-wrapper {
    width: 100%;
    max-width: 1000px;
    overflow-y: hidden;
    overflow-x: auto;
    /* transition:  max-width 0.2s ease-in-out; */
}

.char-card-styler {
    width: 100%;
    overflow-x: auto;
    -webkit-mask-image: linear-gradient( to right,transparent, 
    black 2%, black 98%, transparent 100%);
}

@media (min-width: 1000px) {
    .characters-wrapper:hover {
        max-width: 100%;
        /* transition: max-width 0.45s ease-out; */
    }
}
  
@media (min-width: 1300px) {
    .characters-wrapper:hover {
        align-self: center;
        max-width: calc(100vw - 100px);
        /* transition: max-width 0.55s ease-out; */
    }
}

.episodes-wrapper {
    width: 100%;
    max-width: 1000px;
}

.eps-no {
    text-align: right;
    min-width: 2rem;
}

.eps-title {
    font-weight: 300;
}

.eps-info {
    display: flex;
    gap: 10px;
}

#anime-details-header-cover {
    min-width: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.genre-big {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    column-gap: 0.2rem;
    row-gap: 0.2rem;
    background: none;
}

.genre-big[class~="dark"] > * {
    background-color: var(--base-obj-dark-lighter);
}

.genre-big[class~="light"] > * {
    background-color: var(--base-obj-light-darker)
}

.genre-big > * {
    font-size: 1rem;
    margin: 0;
    padding: 0.6rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 8px;
    font-weight: 300;
    flex-shrink: 0;
}

.streams-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
}

.stream-caption {
    text-align: center;
}

.streams-btn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.streams-wrapper[class~="dark"] > * > a {
    background-color: var(--base-obj-dark-lighter);
}

.streams-wrapper[class~="light"] > * > a {
    background-color: var(--base-obj-light-darker)
}

.stream-btn {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
    border-radius: 20px;
}

.stream-btn > img {
    width: 80px;
    border-radius: 20px;
}

.no-result {
  width: 100%;
  display: block;
  min-height: 50px; 
}

.themesongs-wrapper {
    width: 100%;
    max-width: 1000px;
}

.ts-dropdown-icon {
    display: flex;
    align-items: center;
}

.ts-eps-range {
    margin-right: 10px;
}

.themesong-header {
    display: flex;
    gap: 10px;
}

.themesongs-card-wrapper {
    -webkit-mask-image: linear-gradient(to bottom,
    transparent 0%, black 5%, black 95%, transparent 100%);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    padding: 15px 10px;
    max-height: 250px;
    overflow: auto;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.themesong-info {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.themesong-no {
    min-width: 2rem;    
    text-align: right;
}

.themesong-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 10px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.themesong-card[class~="light"] {
    background-color: var(--base-obj-light-darker);
}

.ani-rec-card-wrapper {
    display: flex;
    border-radius: 20px;
    flex-wrap: nowrap;
    gap: 10px;
    max-height: 400px;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px 17.5px;
    padding-bottom: 20px;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 2%, black 98%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 2%, black 98%, transparent 100%);
}

.card-min {
    padding: 12.5px;
    border-radius: 20px;
    min-width: 200px;
    max-width: 200px;
    height: 335px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

.title-min {
    font-weight: 350;
    font-size: 1rem;
}

.card-min[class~="dark"] {
    background-color: var(--base-obj-dark-lighter);
}

.card-min[class~="light"] {
    background-color: var(--base-obj-light-darker);
}

.recommendation-wrapper {
    align-self: center;
    width: 100%;
    max-width: 1000px;
    /* transition:  max-width 0.2s ease-in-out; */
}

@media (min-width: 1000px) {
    .recommendation-wrapper[overflown]:hover {
        align-self: center;
        max-width: 100%;
        /* transition: max-width 0.45s ease-out; */
    }
}

@media (min-width: 1300px) {
    .recommendation-wrapper[overflown]:hover {
        align-self: center;
        max-width: calc(100vw - 100px);
        /* transition: max-width 0.55s ease-out; */
    }
}

.anime-cover-min {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.comment-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    border-radius: 20px;
    padding: 10px 10px 14px 20px;
}

.ad-comment-wrapper {
    width: 100%;
    max-width: 1000px;
}

.add-comment {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    position: absolute;
    margin: 10vh auto;
    gap: 10px;
}

.add-comment-active[open] {
    width: 80vw;
    max-width: 1000px;
    max-height: 85vh;
    position: fixed;
    z-index: 1000;
    top: 50%;
    bottom: 10%;
    left: 50%;
    right: 10%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: max(-40vw, -500px);
    margin-top: -40vh;
    height: 80vh;
    border-radius: 20px;
    border: 2px solid #ddd;
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.7);

}   

.add-comment-active[class~="dark"] {
    background-color: var(--base-obj-dark);
    height: fit-content;
}

.add-comment-active[class~="light"] {
    background-color: whitesmoke;
    height: fit-content;
}

@media (max-width: 775px) {
    .add-comment-active[class~="dark"] {
        background-color: var(--base-obj-dark);
        height: 85vh;
    }
    
    .add-comment-active[class~="light"] {
        background-color: whitesmoke;
        height: 85vh;
    }

    .comment-form-textarea {
        width: 100%;
        height: 100% !important;
        border-radius: 20px;
        text-align: left;
        vertical-align: baseline;
        padding: 10px;
        resize: none;
    }

    .comment-form {
        height: 100%;
    }
}

.comment-form-textarea {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    text-align: left;
    vertical-align: baseline;
    padding: 10px;
    resize: vertical;
}

#post-button {
    border-radius: 20px;
}

.comment-card > * {
    cursor: default;
}

.ad-comment-wrapper > .ad-section-header {
    display: flex;
    justify-content: space-between;
}

.ad-section-header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ad-section-header-right {
    display: flex;
    align-items: center;
}

.comments-wrapper {
    -webkit-mask-image: linear-gradient(to bottom,
    transparent 0%, black 5%, black 95%, transparent 100%);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    padding: 20px 5px;
    max-height: 650px;
    overflow: auto;
    gap: 5px;
    margin-bottom: 10px;
}

.comment-card[class~="dark"] {
    background-color: var(--base-obj-dark-lighter);
}

.full-width-btn[class~="dark"] {
    background-color: var(--base-obj-dark-lighter);
}

.comment-card > * {
    display: block;
    line-height: 100%;
}

.comment-card > .username {
    font-weight: 450;
}

.comment-card > .date {
    font-weight: 150;
    font-size: 0.6rem;
}

.comment-card > .comment {
    font-weight: 250;
}

/* #endregion */

/* #region: Anime Cards */
main {
    display: flex;
    flex-direction: column;
}

/* .exptl-used {
    overflow: hidden;
    width: 0;
    transition: all 0.4s ease-out;
}

.exptl-used-active {
    width: 100%;
    transition: all 0.4s ease-out;

} */

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
    overflow: hidden;
    padding: 5px 15px;
    margin: 0 auto;
    gap: 7px;
}

.card {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    padding: 10px;
    min-width: 350px;
    max-width: 450px;
    flex-basis: 0;
    flex-grow: 1;
    border-radius: 10px;
}

.card[class~="dark"] {
    background-color: var(--base-obj-dark);
}

.card[class~="light"] {
    background-color: whitesmoke;
}

#rating {
    background: none;
    height: 1.05em;
    position: relative;
    top: 1.75px;
    margin-right: 3px;
}

#airing-status {
    background: none;
    height: 0.9em;
    position: relative;
    top: 0.3px;
    left: 0.8px;
    margin-right: 4px;
}

#year {
    background: none;
    height: 0.9em;
    position: relative;
    top: 0.3px;
    left: 1px;
    margin-right: 4px;
}

/* .card .img-container {
    align-self: stretch;
    min-height: 200px;
    min-width: 140px;
    max-height: 200px;
    object-fit: contain;
} */

.card img {
    align-self: stretch;
    max-height: 200px;
    object-fit: contain;
}

.anime-cover {
    min-width: 142px;
    max-width: 160px;
    object-fit: cover !important;
}

.anime-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
}

.anime-info > p {
    font-size: 0.8rem;
    font-weight: 200;
}

.genre {
    margin-top: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
    column-gap: 0.2rem;
    row-gap: 0.2rem;
}

.genre > * {
    font-size: 0.65rem;
    margin: 0;
    padding: 0.25rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    border-radius: 2px;
    font-weight: 300;
}

.genre > *[class~="dark"] {
    background-color: var(--base-obj-dark-lighter);
}

.genre > *[class~="light"] {
    background-color: whitesmoke;
}

.genre > span > p {
    position: relative;
    top: 50%;
    transform: translateY(-55%);
}

/* . {
    display: flex;
    flex-direction: column;
} */

/* #endregion */

/* #region: Explore Anime */

.explore-filter-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90vw;
    max-width: 1600px;
    margin-top: 10px;
}

.filter-header {
    text-align: center;
    padding: 24px 0;
}

#icon-down-genre-exclude-active, #icon-down-genre-active {
    transform: rotate(180deg);
}

.display-inline {
    display: inline;
}

.explore-filter-header {
    display: flex;
    /* justify-content: space-between; */
    border-radius: 20px;
    padding: 8px 18px; 
}

.explore-filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 10px;
    column-gap: 5px;
    max-height: 200px;
    overflow: hidden;
    flex-grow: 1;
    padding: 0;
    max-height: 0px;
    transition: max-height 250ms ease-in-out, padding 250ms ease-in-out;
}

#year-filter {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

#year-filter > div {
    display: flex;
    flex-grow: 0;
}

#year-filter > div > * {
    flex-grow: 1;
    min-width: 80px;
}


.disp-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.disp-flex-normal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.explore-filters-active {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 10px;
    column-gap: 5px;
    max-height: 200px;
    overflow: auto;
    flex-grow: 1;
    padding: 10px 15px;
    max-height: 200px;
    transition: max-height 250ms ease-in-out, padding 250ms ease-in-out;
}

#icon-down-genre-exclude, #icon-down-genre {
    position: relative;
    top: 2px;
}

.header-icon-active {
    transform: rotate(180deg);
}

.header-icon, .header-icon-active {
    width: 20px;
    transition: transform 0.2s ease-in-out;
}

@media (max-width: 775px) {
    .header-icon-active {
        transform: rotate(180deg);
        width: 18px;
    }
    
    .header-icon, .header-icon-active {
        width: 18px;
    }
}

.header-small {
    font-weight: 200;
}


.explore-filters-active > *, .explore-filters > * {
    flex-grow: 1;
    font-weight: 200;
    max-width: 200px;
}

.genre-btn-active[class~="dark"] {
    background-color: var(--base-obj-dark-ll);
    border: 2.5px solid #fff;
    font-weight: 700;
}

.genre-btn-active[class~="light"] {
    background-color: var(--base-obj-light-dd);
    border: 2px solid #111;
    font-weight: 600;
}

.explore-filter-header, .explore-filter-header-active {
    cursor: pointer;
    padding: 8px 12px;
    gap: 5px;
}

.explore-filter-header-active[class~="dark"] {
    display: flex;
    border-radius: 20px;
    background-color: var(--base-obj-dark-ll);
    font-weight: 700;
}

.explore-filter-header-active[class~="light"] {
    display: flex;
    border-radius: 20px;
    background-color: var(--base-obj-light-dd);
    font-weight: 600;
}

/* #endregion */

/* #region: Character Cards */

.char-card {
    height: 350px;
    border-radius: 20px;
    padding: 12.5px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

.char-card[class~="dark"] {
    background-color: var(--base-obj-dark-lighter);
}

.char-card[class~="light"] {
    background-color: var(--base-obj-light-darker);
}

.char-card-wrapper {
    height: fit-content;
    width: auto;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 20px;
}

.char-card-img {
    height: 265px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
}

.char-title {
    font-size: 1rem;
    font-weight: 400;
}

.char-role {
    font-size: 0.85rem;
    font-weight: 200;
}

/* #endregion */

/* #region: Written Content/Article */
.written-content {
    width: 100%;
    max-width: 1000px;
    min-height: calc(100vh - 3.75rem);
    margin: 0 auto;
    margin-top: 2.75rem;
    padding: 20px;
    text-align: justify;
}

.written-content > h3 {
    margin-bottom: 5px;
    margin-top: 20px;
}

.written-content > p {
    font-weight: 350;
}
/* #endregion */

/* #region: Circular progress bar */


.loading-container {
    display: flex;
    height: calc(100svh - 3.75rem);
    margin-top: 2.75rem;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-self: center;
}

.pure-material-progress-circular {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    padding: 0.25em;
    width: 3em;
    height: 3em;
    color: inherit;
    background-color: transparent;
    font-size: 20px;
    overflow: hidden;
    align-self: center;
}

.pure-material-progress-circular::-webkit-progress-bar {
    background-color: transparent;
}

/* Indeterminate */
.pure-material-progress-circular:indeterminate {
    -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    animation: pure-material-progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

:-ms-lang(x), .pure-material-progress-circular:indeterminate {
    animation: none;
}

.pure-material-progress-circular:indeterminate::before,
.pure-material-progress-circular:indeterminate::-webkit-progress-value {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-bottom: 0.25em;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.pure-material-progress-circular:indeterminate::-moz-progress-bar {
    box-sizing: border-box;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.pure-material-progress-circular:indeterminate::-ms-fill {
    animation-name: -ms-ring;
}

@keyframes pure-material-progress-circular {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(180deg);
        animation-timing-function: linear;
    }
    25% {
        transform: rotate(630deg);
    }
    37.5% {
        transform: rotate(810deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate(1260deg);
    }
    62.5% {
        transform: rotate(1440deg);
        animation-timing-function: linear;
    }
    75% {
        transform: rotate(1890deg);
    }
    87.5% {
        transform: rotate(2070deg);
        animation-timing-function: linear;
    }
    100% {
        transform: rotate(2520deg);
    }
}

@keyframes pure-material-progress-circular-pseudo {
    0% {
        transform: rotate(-30deg);
    }
    29.4% {
        border-left-color: transparent;
    }
    29.41% {
        border-left-color: currentColor;
    }
    64.7% {
        border-bottom-color: transparent;
    }
    64.71% {
        border-bottom-color: currentColor;
    }
    100% {
        border-left-color: currentColor;
        border-bottom-color: currentColor;
        transform: rotate(225deg);
    }
}

/* #endregion */

/* #region: Material ripple effect */

.ripple {
    background-position: center;
    position: relative;
    padding: 5px;
    transition: background 0.1s;
    border-radius: 50%;

}
  .ripple:active {
    background-color: #c4c4c4 !important;
    background-size: 200%;
    z-index: 998;
    transition: background 0.1s;
}
  
/* #endregion */